@page "/"
@page "/home"
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<div class="bg-light">

    <div class="container text-dark py-4">
        <h3 class="mb-3">Find the perfect room</h3>

        <div class="bg-white border border-dark p-4">
            <form class="needs-validation" onsubmit="return false">
                <div class="form-group row">
                    <label for="inlineFormCustomSelect" class="col-sm-2 col-form-label">Room category:</label>
                    <select class="form-control col-sm-10" id="inlineFormCustomSelect" required @bind="roomCategoryIndex">
                        <option value="-1" selected>Choose category</option>
                        <option value="0">Standard</option>
                        <option value="1">Deluxe</option>
                        <option value="2">Suite</option>
                    </select>
                </div>

                <div class="form-group row">
                    <label for="checkInDate" class="col-sm-2 col-form-label">Check-in:</label>
                    <input type="date" min="2021-04-01" class="form-control col-sm-10" id="checkInDate" required @bind="checkInDate">
                </div>

                <div class="form-group row">
                    <label for="checkOutDate" class="col-sm-2 col-form-label">Check-out:</label>
                    <input type="date" min="2021-04-01" class="form-control col-sm-10" id="checkOutDate" required @bind="checkOutDate">
                </div>

                <div class="form-group row">
                    <label for="personsNumber" class="col-sm-2 col-form-label">Persons number:</label>
                    <input type="number" min="1" max="10" class="form-control col-sm-10" id="personsNumber" required @bind="personsNumber">
                </div>

                <button type="submit" class="btn btn-outline-dark" @onclick='(() => SubmitSearchRoomsForm())'>Search</button>
            </form>
        </div>
    </div>
    @if (searchResultRooms != null)
    {
        <div class="container">

            @if (searchResultRooms.Count > 0)
            {
                <h3 class="mt-3">Rooms that match your search:</h3>

                <div class="row">
                    @foreach (var room in searchResultRooms)
                    {
                        string imageUrl = StaticImagesEndpoint + room.Image;

                        <a href="/room/@room.RoomNumber" class="col-md-3 mb-3 p-3 text-dark" style="text-decoration: none;">
                            <div class="card shadow-sm">
                                <img class="card-img-top img-fluid" style="min-height:15rem; object-fit:cover;" src=@imageUrl alt="Room name">
                                <div class="card-body">
                                    <p class="font-weight-bold text-primary mb-2">@room.RoomCategory @room.RoomNumber</p>
                                    <p class="my-1">Starting from @room.Price RON</p>
                                    <p class="my-1 mt-2 btn btn-primary btn-sm" style="border-radius: 0">Show more</p>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            }
            else
            {
                <h3 class="mt-3">Sorry, no rooms match your search :'(</h3>
            }
        </div>
    }

    @if (allHotelRooms != null)
    {
        <div class="container">
            <h3 class="mt-3">Hotel rooms:</h3>

            <div class="row">
                @foreach (var room in allHotelRooms)
                {
                    string imageUrl = StaticImagesEndpoint + room.Image;

                    <a href="/room/@room.RoomNumber" class="col-md-3 mb-3 p-3 text-dark" style="text-decoration: none;">
                        <div class="card shadow-sm">
                            <img class="card-img-top img-fluid" style="min-height:15rem; object-fit:cover;" src=@imageUrl alt="Room name">
                            <div class="card-body">
                                <p class="font-weight-bold text-primary mb-2">@room.RoomCategory @room.RoomNumber</p>
                                <p class="my-1">Starting from @room.Price RON</p>
                                <p class="my-1 mt-2 btn btn-primary btn-sm" style="border-radius: 0">Show more</p>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    }

</div>


@code {
    const string ApiSearchRoomsEndpoint = "http://localhost:5100/api/v1/bookings";
    const string ApiAllHotelRoomsEndpoint = "http://localhost:19008/api/v1/rooms";
    const string StaticImagesEndpoint = "http://localhost:19008/images/";

    public int roomCategoryIndex = -1;
    public DateTime checkInDate = DateTime.Now;
    public DateTime checkOutDate = DateTime.Now.AddDays(2);
    public int personsNumber = 2;
    public List<string> roomTypes = new List<string> { "Standard", "Deluxe", "Suite" };

    public List<Room> searchResultRooms;
    public List<Room> allHotelRooms;


    protected override async Task OnInitializedAsync()
    {
        var getRequest = new HttpRequestMessage(HttpMethod.Get, ApiAllHotelRoomsEndpoint);
        var httpResponse = await HttpClient.SendAsync(getRequest);

        allHotelRooms = SortRoomsByNumber(await httpResponse.Content.ReadFromJsonAsync<List<Room>>());
    }


    public async Task SubmitSearchRoomsForm()
    {
        string checkInDateString = checkInDate.ToString("yyyy-MM-dd HH:mm:ss");
        string checkOutDateString = checkOutDate.ToString("yyyy-MM-dd HH:mm:ss");

        if (roomCategoryIndex == -1 ||
            DateTime.Compare(checkInDate, checkOutDate) > 0 ||
            personsNumber <= 0)
        {
            Console.WriteLine($"roomCategoryIndex: {roomCategoryIndex} -- DateTime.Compare: {DateTime.Compare(checkInDate, checkOutDate)} -- personsNumber: {personsNumber}");
            return;
        }

        string roomCategory = roomTypes[roomCategoryIndex];
        Console.WriteLine($"RoomCategory={roomCategory}&CheckIn={checkInDateString}&CheckOut={checkOutDateString}&PersonsNumber={personsNumber}");
        string getRoomsApiUrl = $"{ApiSearchRoomsEndpoint}/search?RoomCategory={roomCategory}&CheckIn={checkInDateString}&CheckOut={checkOutDateString}&PersonsNumber={personsNumber}";
        var getRequest = new HttpRequestMessage(HttpMethod.Get, getRoomsApiUrl);
        var httpResponse = await HttpClient.SendAsync(getRequest);

        RoomListDeserializer roomListDeserializer = await httpResponse.Content.ReadFromJsonAsync<RoomListDeserializer>();
        searchResultRooms = SortRoomsByNumber(roomListDeserializer.rooms);
    }

    public List<Room> SortRoomsByNumber(List<Room> rooms)
    {
        return rooms.OrderBy(room => room.RoomNumber).ToList();
    }


    public class Room
    {
        public string RoomCategory { get; set; }
        public int RoomNumber { get; set; }
        public string Description { get; set; }
        public int Price { get; set; }
        public string Facilities { get; set; }
        public int PersonsNumber { get; set; }
        public string Image { get; set; }
    }

    public class RoomListDeserializer
    {
        public List<Room> rooms { get; set; }
    }
}
